@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Elfelejtett jelszó megerősítés ";
}

<h1>@ViewData["Title"]</h1>
<p>
    Nézd meg a beérkező leveleidet, hogy új jelszót állíthass be.
</p>

