@*
*@
@{
    ViewData["Title"] = "Főoldal";
}

<h1 style="text-align:center">Üdvözöljük a House Party Management weboldalán!</h1>
<p style="text-align:center">További műveletekhez kérjük <a asp-controller="Home" asp-action="Login">jelentkezzen be</a> vagy ha még nincs fiókja <a asp-controller="Home" asp-action="Register">regisztráljon</a>!</p>