@model Party 

@{
    ViewData["Title"] = "Buli Létrehozás";
}

<div class="text-center">
    <h1 class="display-4">Buli Létrehozás</h1>
</div>

<form asp-action="Create" method="POST">

    <div class="form-group">
        <label>Szervező</label>
        <input class="form-control" type="text" asp-for="Host" value="@Model.Host">

        <label>Helyszin</label>
        <input class="form-control" type="text" asp-for="Location" value="@Model.Location">

        <label>Időpont</label><br>
        <input class="form-control" type="datetime" asp-for="Time" value="@Model.Time">
        <br>

        <label>Kapacitás</label>
        <input class="form-control" type="number" asp-for="Capacity" value="@Model.Capacity">

    </div>

    <input class="btn-primary" type="submit" value="Tovább">

    <div>
        <a asp-action="Index">Vissza</a>
    </div>
</form> 